html, div, body, p, h1, ul, li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

$font-stack: "Microsoft Yahei", SimSun, Helvetica, sans-serif;



// @mixin
@mixin border-radius($radius:2px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
div {
    @include border-radius;
}
p {
    @include  border-radius;
}


// extends, different to @mixin
.border-radius {
    border-radius: 2px;
    box-shadow: 1px 1px 2px #ccc;
    transition: 1s;
    animation: opa
}
div {
    @extend .border-radius;
}
p {
    @extend .border-radius;
}

// placeholder
%b-r {
    border-radius: 1px;
}

div {
    @extend %b-r;
}
p {
    @extend %b-r;
}




html {
    font-size: 10px;
}
body {
    font: 1.4em/1.5 $font-stack;
}

nav {
    animation: 3s opa;
    height: 30px;
    color: red;
}



@keyframes opa {
    0% {
        height: 30px;
    }

    50% {
        height: 100px;
    }

    100% {
        height: 30px;
    }
}
